@font-face {
    font-family: "Libre Baskerville";
    src: url(assets/libre-baskerville.ttf);
}
  
html, body {
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", "Georgia", serif;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    margin-bottom: 2px;
}

.container {
    text-align: center;
}

#chessboard {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button { /* Note To Self: You Physically Cannot Resize The Buttons */
    font-family: "Libre Baskerville", "Georgia", serif;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    height: 35px;
    width: auto;
}

.move-dot {
    width: 20px;
    height: 20px;
    border: 2px dashed black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-sizing: border-box;
    background: none;
}
